@import url(vendor/normalize.css);
@import url(vendor/fonts.css);

.page {
  box-sizing: border-box;
  margin: 0 auto;
  /* min-width: 500px; */
  max-width: 1280px;
  padding: 20px;
  background-color: #609;
  color: white;
  font-family: "Asimovian", "Tahoma", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 640px));
}

.header {
}

.header__logo {
  margin: 0;
}

.navbar {
}

.navbar__link {
  color: #00a7a2;
}

.navbar__link:hover {
  text-decoration: none;
  color: aqua;
}

.main {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.footer {
}

.author__link {
  color: #00a7a2;
}

.author__link:hover {
  text-decoration: none;
  color: aqua;
}
