@import url(vendor/normalize.css);
@import url(vendor/fonts.css);

.page {
  box-sizing: border-box;
  margin: 0 auto;
  /* min-width: 500px; */
  max-width: 1280px;
  padding: 20px;
  background-color: #609;
  color: white;
  font-family: "Asimovian", "Tahoma", sans-serif;
  display: grid;
  grid-template-columns: minmax(360px, 50%) minmax(480px, 50%);
  font-size: 20px;
  line-height: 1.2;
}

.page_name_create {
  background-color: #069;
}

.page_name_delete {
  background-color: #690000;
}

.header {
}

.header__logo {
  margin: 0;
  padding-right: 20px;
}

.navbar {
}

.navbar__link {
  color: #00a7a2;
}

.navbar__link:hover {
  text-decoration: none;
  color: aqua;
}

.main {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.search__input {
  width: 100%;
  margin-bottom: 10px;
}

.char-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.char-table__row:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.5);
}

.char-table__row_header {
  background-color: black;
  border-bottom: 1px solid white;
}

.char-table td {
  padding: 0 2px;
}

.footer {
}

.author__link {
  color: #00a7a2;
}

.author__link:hover {
  text-decoration: none;
  color: aqua;
}
